# Introduction to PANDAS
1) Reading a dataset from URL and look at it

In [ ]:
import pandas as pd
print(pd.__version__)

1.1.2

In [ ]:
df=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
print (df.head())
print (df)

#what?

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [ ]:
print (df.keys()) #not easy to understand

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

## Better include column names! since they were not included in the original CSV...

In [ ]:
n=['Sepal Length','Sepal Width','Petal Length','Petal Width','Class']
df=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data",names=n)
print (df.head())

   Sepal Length  Sepal Width  Petal Length  Petal Width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

See how you can play with **statistical functions** directly from Pandas

In [ ]:
print ("Petal Length Mean: ",df['Petal Length'].mean())
print ("Petal Width Mean: ",df['Petal Width'].mean())
print ("Sepal Length Mean: ",df['Sepal Length'].mean())
print ("Setal Length Mean: ",df['Sepal Width'].mean())

Petal Length Mean:  3.7586666666666693
Petal Width Mean:  1.1986666666666672
Sepal Length Mean:  5.843333333333335
Setal Length Mean:  3.0540000000000007

## Trying to correlate data with a text column...

In [ ]:
df['Petal Length'].corr(df['Class'])
#print ("Sepal Length correlation: ",str(df['Petal Length'].corr(df['Class'])))

#correct we need to convert it to a number!!!"""

TypeError: ignored

## Better convert the Class to a number first, using pd.Categorical()

In [ ]:
#from sklearn.preprocessing import LabelBinarizer
#LabelBinarizer().fit_transform(df['Class'])
cl=pd.Categorical(df['Class'])
print ("here's the array of class codes: ",cl.codes)
df['Class Code']=cl.codes
print (df)

here's the array of class codes:  [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]
     Sepal Length  Sepal Width  ...           Class  Class Code
0             5.1          3.5  ...     Iris-setosa           0
1             4.9          3.0  ...     Iris-setosa           0
2             4.7          3.2  ...     Iris-setosa           0
3             4.6          3.1  ...     Iris-setosa           0
4             5.0          3.6  ...     Iris-setosa           0
..            ...          ...  ...             ...         ...
145           6.7          3.0  ...  Iris-virginica           2
146           6.3          2.5  ...  Iris-virginica           2
147           6.5          3.0  ...  Iris-virginica           2
148           6.2          3.4  ...  Iris-virginica           2
149           5.9          3.0  ...  Iris-virginica           2

[150 rows x 6 columns]

## Now let's try to **CORRELATE**

In [ ]:
print(df['Petal Length'].corr(df['Class Code'],method ='pearson'))
print(df['Petal Width'].corr(df['Class Code'],method ='pearson'))
print(df['Sepal Length'].corr(df['Class Code'],method ='pearson'))
print(df['Sepal Width'].corr(df['Class Code'],method ='pearson'))

0.9490425448523333
0.9564638238016165
0.782561231810082
-0.4194462002600274

What is the correlation function?
[Pearson Method on Wikipedia](https://en.wikipedia.org/wiki/Pearson_correlation_coefficient)

Another example creating a dataframe from scratch

In [ ]:
import pandas as pd
print (pd.__version__)
d = {'col1': [1, 2], 'col2': [3, 4], 'col3':['red','green']}
df = pd.DataFrame(data=d)


print(df)

1.1.2
   col1  col2   col3
0     1     3    red
1     2     4  green

In [ ]:
df["col4"]=pd.Categorical(df.col3).codes
df["col5"]=df.col3+" zzz"+df.col1.astype(str)

print(df)

   col1  col2   col3  col4        col5
0     1     3    red     1    red zzz1
1     2     4  green     0  green zzz2

In [ ]:
df["col6"]=df.col3+" zzz"+str(df.col1)
print (df)

   col1  col2  ...        col5                                               col6
0     1     3  ...    red zzz1    red zzz0    1\n1    2\nName: col1, dtype: int64
1     2     4  ...  green zzz2  green zzz0    1\n1    2\nName: col1, dtype: int64

[2 rows x 6 columns]

In [ ]:
df["col6"]=df.col1+df.col2
print(df)

   col1  col2   col3  col4        col5  col6
0     1     3    red     1    red zzz1     4
1     2     4  green     0  green zzz2     6

In [ ]:
print (df)

   col1  col2   col3  col4        col5  col6
0     1     3    red     1    red zzz1     4
1     2     4  green     0  green zzz2     6

In [ ]:
result=df.append({'col1':3,'col2':5,'col3':'blue','col4':2,'col5':'blue zzz3','col6':8}, ignore_index=True)
print (result)

   col1  col2   col3  col4        col5  col6
0     1     3    red     1    red zzz1     4
1     2     4  green     0  green zzz2     6
2     3     5   blue     2   blue zzz3     8

In [ ]:
result2=result.append({'col1':4,'col2':6,'col3':'magenta'}, ignore_index=True)
print (result2)

   col1  col2     col3  col4        col5  col6
0     1     3      red   1.0    red zzz1   4.0
1     2     4    green   0.0  green zzz2   6.0
2     3     5     blue   2.0   blue zzz3   8.0
3     4     6  magenta   NaN         NaN   NaN